@charset "UTF-8";

body {
  margin: 0;
  padding: 0; 
  width: 100%;  
}

html {
  height: -webkit-fill-available;
}

main {
  height: -webkit-fill-available;
  /*background-color: lightcoral;*/
}

a {
  text-decoration: none ;
}

.custom-tooltip {
  --bs-tooltip-bg: #6f42c1;
  --bs-tooltip-color: var(--bs-white);
}