@charset "UTF-8";

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: -webkit-fill-available;
}

a {
  text-decoration: none ;
}

/** carousel **/

.carousel-control-prev, .carousel-control-next {
  width: 30px; /* 버튼의 너비를 30px로 설정 */
  background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경을 반투명 검정으로 설정 */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(1); /* 아이콘 색상을 반전시켜 흰색으로 만듦 */
}

/* carousel-inner 내부 내용에 padding을 추가해 버튼과 겹치지 않도록 설정 */
.carousel-inner {
  padding-left: 40px;  /* 왼쪽 여백 */
  padding-right: 40px; /* 오른쪽 여백 */
}

.card {
  height: 100%; /* 카드 높이를 100%로 확장 */
  display: flex;
  flex-direction: column; /* 카드 내부 콘텐츠를 세로 정렬 */
}

/** -- carousel **/