<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Hello Python </title>
</head>
<body>
	<h2>Hello Python ... World!</h2>
	
	<a href="/" th:href="@{/}" > Root </a> <br/>
	<a href="./index.htm" th:href="@{/index.htm}" > index.htm </a> <br/>
	<a href="./index.html" th:href="@{/index.html}" > index.html </a> <br/>
	<a href="./hello.html" th:href="@{/hello.html}" > hello.html </a> <br/>
	<a href="./boot_test.html" th:href="@{/boot_test.html}" > boot_test.html </a> <br/>
	<a href="./template.html" th:href="@{/template.html}" > template.html </a> <br/>
	<a href="./login.html" th:href="@{/login.html}" > login.html </a> <br/>
	
	<br/>

	<table>
		<tbody>
			<tr th:each="student: ${students}">
				<td th:text="${student.id}" />
				<td th:text="${student.name}" />
			</tr>
		</tbody>
	</table>
	
</body>
</html>