<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
<meta charset="UTF-8">
<title>Hello Python</title>
</head>
<body>
	<h2>Hello Python ... World!</h2>

	<div sec:authorize="isAuthenticated()">
		Welcome, <span sec:authentication="name"> Username </span>
	</div>

	<ol>
		<li> <a href="/" th:href="@{/}"> Root </a> </li>
		<li> <a href="./index.htm" th:href="@{/index.htm}"> index.htm </a> </li>
		<li> <a href="./index.html" th:href="@{/index.html}"> index.html </a> </li>
		<li> <a href="./hello.html" th:href="@{/hello.html}"> hello.html </a> </li>
		<li> <a href="./boot_test.html" th:href="@{/boot_test.html}"> boot_test.html </a> </li>
		<li> <a href="./layout.html" th:href="@{/layout.html}"> layout.html </a> </li>
		<li> <a href="./template.html" th:href="@{/template.html}"> template.html </a> </li>
		<li> <a href="./login.html" th:href="@{/login.html}"> login.html </a> </li>
		<li> <a href="./error.html" th:href="@{/error.html}"> error.html </a> </li>
	</ol>

	<br />

	<table>
		<tbody>
			<tr th:each="student: ${students}">
				<td th:text="${student.id}" />
				<td th:text="${student.name}" />
			</tr>
		</tbody>
	</table>

</body>
</html>