<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head" >

	<title th:text="${html.title}"> html.title </title>
	<base th:href="@{/}">
	<meta charset="utf-8">

	<meta name="description" content="파이썬 한글 커뮤니티">
	<meta name="keywords" content="파이썬, 코리아, 파이썬 공부, 파이썬 튜토리얼, python, korea, python tutorial">
	<meta name="author" content="Python Korea">

	<link rel="icon" type="image/x-icon" th:href="@{/rsc/img/favicon.ico}" href="./rsc/img/favicon.ico"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://icons.getbootstrap.com/assets/font/bootstrap-icons.min.css">

	<link rel="stylesheet" th:href="@{/rsc/css/python.css}" href="rsc/css/python.css" />
	<link rel="stylesheet" th:href="@{/rsc/css/sidebars.css}" href="./rsc/css/sidebars.css" />

	<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v6.5.2/js/all.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/fb6a9a8bef.js" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.2/dist/chart.umd.min.js"></script>

	<!-- Google tag (gtag.js) 구글 애널리틱스 -->
	<script async src="http://www.googletagmanager.com/gtag/js?id=G-546RKN18SQ"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-546RKN18SQ');
	</script>
	<!-- // Google tag (gtag.js) 구글 애널리틱스 -->

	<!-- Google ads -->
	<script th:if="${ googleAds }" async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2022521024023929" crossorigin="anonymous"></script>
	<!-- // Google ads -->

	<!-- Google AMP -->
	<script th:if="${ googleAds }" async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
	<!-- // Google AMP -->

</head>

<body class="container-fluid" >

	<!--  Header -->
		
	<div th:fragment="header" class="navbar-light bg-light" >

		<amp-auto-ads type="adsense" data-ad-client="ca-pub-2022521024023929"></amp-auto-ads>

		<!-- Message -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<div class="container-fluid">
				<marquee width="100%" direction="left" >
					<img th:src="@{/rsc/img/python_gif_animation.gif}" src="./rsc/img/python_gif_animation.gif" height="16px" />
					&nbsp; 홈페이지 베타(β) 테스트 중입니다 ★ 파이썬은 행복한 언어입니다 ★ 파이썬 코리아는 파이썬 커뮤니티와 개발자들을 지원합니다
					<img th:src="@{/rsc/img/python_gif_animation.gif}" src="./rsc/img/python_gif_animation.gif" height="16px" />
				</marquee>
			</div>

		</nav>
		<!-- end of message -->

		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -10px;">

			<!-- Container wrapper -->
			<div class="container">

				<!-- Toggle button -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation" >
					<i class="fas fa-bars"></i>
				</button>
		
				<!-- Collapsible wrapper -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<hr/>
					
					<!-- Navbar brand -->
					<a class="navbar-brand mt-lg-0 text-muted" th:href="@{/}" href="#" >
						&nbsp;<i class="fa-brands fa-python fa-xl" style="color:black;"></i>
						&nbsp;파이썬 코리아
					</a>

					<!-- Left links -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 text-nowrap text-muted">
						<li>
							<a th:href="@{/pub/download}" href="/pub/download" class="nav-link px-2 link-body-emphasis">
								<i class="fa-solid fa-file-arrow-down fa-xl"></i>&nbsp;
								파이썬 다운로드
							</a>
						</li>
						<li>
							<div class="dropdown">
								<a class="nav-link px-2 link-body-emphasis dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-book fa-xl"></i> &nbsp;파이썬 소개
								</a>
							  
								<ul class="dropdown-menu" >
									<li><a th:href="@{/pub/intro}" href="#" class="dropdown-item"> <i class="bi bi-book-half"></i> &nbsp; 파이썬 소개</a></li>
									<li><a th:href="@{/pub/history}" href="#" class="dropdown-item"> <i class="fa-solid fa-landmark"></i> &nbsp; 파이썬 역사</a></li>
									<li><a href="https://docs.python.org/ko/3/faq/index.html" target="_blank" class="dropdown-item"> <i class="bi bi-patch-question-fill"></i> &nbsp; 자주하는 질문</a></li>
								</ul>
							  </div>
						</li>

						<li>
							<div class="dropdown">
								<a class="nav-link px-2 link-body-emphasis dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-book fa-xl"></i> &nbsp;파이썬 문서
								</a>
							  
								<ul class="dropdown-menu" >
									<li><a href="https://docs.python.org/ko/3/tutorial/index.html" target="_blank" class="dropdown-item"> <i class="bi bi-book-half"></i> &nbsp; 파이썬 자습서</a></li>
									<li><a href="https://docs.python.org/ko/3/reference/index.html" target="_blank" class="dropdown-item"> <i class="fa-solid fa-landmark"></i> &nbsp; 파이썬 레퍼런스</a></li>
									<li><a href="https://docs.python.org/ko/3/library/index.html" target="_blank" class="dropdown-item"> <i class="fa-solid fa-landmark"></i> &nbsp; 파이썬 표준 라이브러리</a></li>

									<hr />

									<li><a href="https://docs.python.org/ko/3/using/index.html" target="_blank" class="dropdown-item"> <i class="fa-solid fa-landmark"></i> &nbsp; 파이썬 설치 및 사용법</a></li>
									<li><a href="https://docs.python.org/ko/3/glossary.html" target="_blank" class="dropdown-item"> <i class="fa-solid fa-landmark"></i> &nbsp; 파이썬 용어집</a></li>
								</ul>
							  </div>
						</li>

						<li>
							<a href="https://pypi.org" target="_blank" class="nav-link px-2 link-body-emphasis">
								<i class="bi bi-box-fill fa-xl"></i> &nbsp;패키지 검색
							</a>
						</li>

						<li>
							<a th:href="@{/pub/news}" href="/pub/news" class="nav-link px-2 link-body-emphasis">
								<i class="bi bi-newspaper fa-xl"></i> &nbsp; 뉴스
							</a>
						</li>
					</ul>

					<hr/>
				<!-- Left links -->
				</div>
				<!-- Collapsible wrapper -->				
		
				<!-- Right elements -->
				<div class="d-flex align-items-center">
					
					<div class="col-auto" th:if="${ html.searchSupported }">
						<form>
							<div class="input-group input-group-sm ">
								&nbsp;&nbsp;						
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa-solid fa-magnifying-glass fa-xl" ></i>
									</div>
								</div>
								<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search...">
								<button type="submit" class="btn btn-primary">검색</button>
							</div>
						</form>
					</div>

					<div class="col-auto" th:if="${ html.loginRequired }">
						&nbsp;
						<button type="button" class="btn btn-sm btn-primary">Login</button>
						<button type="button" class="btn btn-sm btn-warning">Sign-up</button>
						&nbsp;&nbsp;
					</div>

					<div class="col-auto dropdown text-end" th:if="${ html.loginUser }">
						<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="rsc/img/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small">
							<li><a class="dropdown-item" href="#">New project...</a></li>
							<li>
								<a class="dropdown-item" href="#">
									<span th:text="${session.loginUserName}"></span> Profile
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="logout.html" th:href="@{/logout}" >Sign out</a></li>
						</ul>
					</div>

					<div class="col-auto text-end" >
						<span th:text="${#numbers.formatInteger( visitCountToday, 3, 'COMMA' ) }">1,234</span> / 
						<span th:text="${#numbers.formatInteger( visitCountTotal, 3, 'COMMA' ) }">1,234</span> &nbsp;&nbsp;
					</div>

					<div class="col-auto text-end" th:if="${ loginUserName != '' && loginUserName != 'anonymousUser'}">
						<span th:text="${loginUserName}">Username</span>
					</div>

					<div class="col-auto dropdown text-end" th:if="${ ! html.isUserLogin() }">
						<a th:href="@{/adm/setting}" href="#" class="d-block link-dark text-decoration-none" >
							<i class="bi bi-gear fa-xl" title="관리자"></i> 
						</a>
					</div>
				</div>
				<!-- Right elements -->
			</div>
			<!-- Container wrapper -->
			
		</nav>
		<!-- Navbar -->
	</div>

	<!-- end of Header -->

	<!-- Main Contents -->

	<div class="wrapper d-flex align-items-stretch border-top border-bottom">

		<!--  side bar left -->

		<nav th:fragment="sidebarLeft" id="sidebarLeft" class="container-fluid col-auto d-md-block bg-body-tertiary sidebar collapse">

			<div class="position-sticky sidebar-sticky collapse show " id="sidebarLeftContent">

				<ul class="nav flex-column nav-tabs nav-pills text-nowrap list-unstyled ps-0 mt-2"> 

					<li class="mb-1">
						<a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#python_download" aria-expanded="false" >
							파이썬 다운로드
						</a> 
						<div class="collapse show" id="python_download">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li class="mt-2">
									<a th:href="@{/pub/download}" href="#" class="link-dark rounded text-decoration-none">
										<i class="bi bi-download fa-xl"></i> &nbsp; 파이썬 3.12.3
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="mb-1">
						<a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
							data-bs-target="#python_overview" aria-expanded="false">
							파이썬 소개
						</a>
						<div class="collapse show" id="python_overview">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

								<li class="mt-2">
									<a th:href="@{/pub/intro}" href="#" class="link-dark rounded text-decoration-none">
										<i class="bi bi-book-half fa-xl"></i> &nbsp; 파이썬 소개
									</a>
								</li>
								
								<li class="mt-1">
									<a th:href="@{/pub/history}" href="#" class="link-dark rounded text-decoration-none">
										<i class="fa-solid fa-landmark fa-xl"></i> &nbsp; 파이썬 역사
									</a>
								</li>

								<li class="mt-1">
									<a href="https://docs.python.org/ko/3/faq/index.html" target="_blank" class="link-dark rounded text-decoration-none">
										<i class="bi bi-patch-question-fill fa-xl"></i> &nbsp; 자주하는 질문
									</a>
								</li> 
							</ul>
						</div>
					</li>

					<li class="mb-1">
						<a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
							data-bs-target="#python_overview" aria-expanded="false">
							파이썬 문서
						</a>
						<div class="collapse show" id="python_overview">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

								<li>
									<a href="https://docs.python.org/ko/3/tutorial/index.html" target="_blank" class="link-dark rounded text-decoration-none">
										<i class="bi bi-book fa-xl"></i> &nbsp; 파이썬 자습서
									</a>
								</li> 
								<li class="mt-1">
									<a href="https://docs.python.org/ko/3/reference/index.html" target="_blank" class="link-dark rounded text-decoration-none">
										<i class="bi bi-journal-check fa-xl"></i> &nbsp; 파이썬 레퍼런스
									</a>
								</li> 
								<li class="mt-1">
									<a href="https://docs.python.org/ko/3/library/index.html" target="_blank" class="link-dark rounded text-decoration-none">
										<i class="fa-solid fa-toolbox fa-xl"></i> &nbsp; 파이썬 표준 라이브러리
									</a>
								</li>

								<li class="mt-1"> <hr/></li>
								
								<li class="mt-1">
									<a href="https://docs.python.org/ko/3/using/index.html" target="_blank" class="link-dark rounded text-decoration-none">
										<i class="fa-solid fa-hammer fa-xl"></i> &nbsp; 파이썬 설치 및 사용법
									</a>
								</li> 

								<li class="mt-1">
									<a href="https://docs.python.org/ko/3/glossary.html" target="_blank" class="link-dark rounded text-decoration-none">
										<i class="bi bi-journal-text fa-xl"></i> &nbsp; 파이썬 용어집
									</a>
								</li> 
							</ul>
						</div>
					</li>

					<li class="mb-1">
						<a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
							data-bs-target="#python_news" aria-expanded="false">
							파이썬 뉴스
						</a>
						
						<div class="collapse show" id="python_news">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li>
									<a th:href="@{/pub/news}" href="#" class="link-dark rounded text-decoration-none">
										<i class="bi bi-newspaper"></i> &nbsp; 파이썬 뉴스 (24-05)
									</a>
								</li> 
							</ul>
						</div>
					</li>

				</ul>

			</div>

		</nav>
		<!-- // side bar left-->

		<!-- main contents -->

		<main class="p-4 p-md-5 pt-5 container-fluid" style="overflow-y: auto; ">

			<!-- Toggle button sidebar left -->
			<a href="#" data-bs-target="#sidebarLeftContent" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none">
				<i class="bi bi-list bi-lg py-2 p-1"></i>
			</a> 
			<!-- // Toggle button sidebar left -->
			
			<h2>Main Contents Main Contents Main Contents Main Contents Main Contents Main Contents Main Contents Main Contents</h2> 

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown link
				</a>
				
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
				</div>
			</div>

		</main>

		<!-- // main contents --> 

		<!--  side bar right -->
		<nav th:fragment="sidebarRight" id="sidebarRight" class="col-auto_ col-2 d-md-block bg-body-tertiary_ sidebar collapse">

			<div class="position-sticky pt-3 sidebar-sticky text-nowrap">
				
				<h6><b>좋은 사이트</b></h6>

				<a href="https://getbootstrap.com/docs/5.3/examples" target="_blank" class="text-decoration-none text-black" >
					<i class="bi bi-bootstrap"></i> Bootstrap Examples
				</a><br/>

				<a href="https://icons.getbootstrap.com" target="_blank" class="text-decoration-none text-black" >
					<i class="bi bi-bootstrap-fill"></i> Bootstrap Icon
				</a><br/>

				<a href="https://fontawesome.com/search" target="_blank" class="text-decoration-none text-black" >
					<i class="fa-solid fa-font-awesome"></i> Font Awesome Icon
				</a><br/>

			</div>

			<!-- Google ads -->
			<div th:if="${ googleAds }" class="border border-light "> 
                <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2022521024023929" crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-format="autorelaxed"
                    data-ad-client="ca-pub-2022521024023929"
                    data-ad-slot="8243524359">
                </ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
			<!-- // Google ads -->
			
		</nav>
		<!-- // side bar right-->
 

	</div>

	<!-- //Main Contents -->

	<!-- Footer -->
	<footer th:fragment="footer" class="text-center text-lg-start bg-light text-muted">

		<!-- Section: Social media -->
		<section class="d-flex justify-content-center p-2 border-bottom">
			<a class="text-reset" href="https://www.youtube.com/@pythonkorea/videos" target="_blank" title="유투브 채털">
				<i class="fa-brands fa-youtube fa-xl" ></i>
			</a>
			&nbsp;&nbsp;
			<a class="text-reset" href="https://www.facebook.com/groups/python.co.kr" target="_blank" title="페이스북 그룹">
				<i class="fa-brands fa-facebook fa-xl"></i>
			</a>
		</section>
		<!-- Section: Social media -->
	
		<!-- Section: Links  -->
		<div class="container justify-content-center text-md-start mt-2">

			<ul class="row list-unstyled mt-3 mb-2 h6 text-center text-nowrap">
				<li class="col"> 
					© 2024 파이썬 코리아 
				</li> 
			</ul>

			<hr/>

			<ul class="row d-flex list-unstyled mt-3 mb-2 h6 text-center text-nowrap">
				<li class="col">
					파이썬은 행복한 언어입니다. 
				</li>
				<li class="col"> 
					파이썬 커뮤니티와 개발자들을 지원합니다. 
				</li> 
		   </ul>

			<hr/>

			<ul class="row list-unstyled mb-2 h6 text-center text-nowrap">
				<li class="col"> 
					<a th:href="@{/public/privacy.html}" href="./privacy.html" class="text-decoration-none  text-reset">
						개인정보 처리방침
					</a> 
				</li>
				<li class="col"> 
					<a th:href="@{/public/service.html}" href="./service.html" class="text-decoration-none  text-reset">
						이용 약관
					</a>
				</li>
			</ul>

			<hr/>

			<ul class="row list-unstyled mb-2 h6 text-center text-nowrap">
				<li class="col">
					<a href="https://python.org" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="파이썬 공식 영문 사이트">
						파이썬 영문 사이트
					</a>
				</li>

				<li class="col">
					<a href="https://www.gimi9.com" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="모든 공공데이터를 후회없이 한 번에 검색">
						공공데이터 검색
					</a>
				</li>

				<li class="col">
					<a href="http://www.theonetech.co.kr/productmain.html" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="빅 데이터 플랫폼 대시보드">
						공간 빅데이터 플랫폼
					</a>
				</li>

				<li class="col">
					<a href="https://www.hansei.ac.kr" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="경기도 군포시 한세로 30 한세대학교">
						한세대학교
					</a>
				</li>
			</ul>

			<ul class="row list-unstyled mb-2 h6 text-center text-nowrap">

				<li class="col">
					<a href="http://changup.ajou.ac.kr" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="아주대학교 캠퍼스플라자">
						아주대학교 창업지원단
					</a>
				</li>

				<li class="col">
					<a href="https://www.kanc.re.kr" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="나노소재분야의 연구개발 지원 체계 구축">
						한국나노기술원
					</a>
				</li>

				<li class="col">
					<a href="https://www.gtp.or.kr" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="경기도 기술혁신 거점 기관 / 중소기업 성장">
						경기테크노파크
					</a>
				</li>

				<li class="col">
					<a href="https://www.keti.re.kr" target="_blank" class="text-decoration-none text-reset" 
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="미래를 만들어 가는 글로벌 기술리더">
						한국전자기술연구원
					</a> 
				</li>

			</ul>

			<hr/>

			<ul class="row list-unstyled mb-2 h6 text-center text-nowrap">
				<li class="col"> 
					<a th:href="@{public/contact}" href="./contact.html" class="text-decoration-none text-muted" >
						<i class="fas fa-home me-3"></i>대한민국 경기도 수원시 북수원지식산업센터
					</a>
				</li>
				<li class="col">
					<i class="fas fa-envelope me-3"></i>skyslam.kr@gmail.com 
				</li>
			</ul> 

			<hr/>

			<br/><br/>
		</div> 
		<!-- Section: Links  --> 

		<style>
			.tooltip-inner {
				max-width: 260px !important;
			}
		</style>

		<script>
			
			$(document).ready(function () {
				console.log( "hello.... document loaded." )

				$("body").tooltip({ selector: '[data-bs-toggle=tooltip]' }); 
			});

			var mouseMove = 0 ; 

			function processCounter() {
				if( mouseMove > 0 ) { 
					return
				}

				if ( 0 && window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD ){
					console.log('Got here using the browser "Back" or "Forward" button.')
					mouseMove = 2

					return
				}

				mouseMove = 1

				var url = $(location).attr('href')

				if( ! url.includes( "?") ) {
					url += "?"
				}

				url += "&mouse_move=1"

				console.log( "url = ", url )

				$.ajax({
                    url: url,
                    success: function(data) {
                        console.log( "success: response = ", data )

						mouseMove = 2
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log( "error: errorThrown = ", errorThrown )
                    }
                });

			}

			$(document).mousemove(function (event) {
				processCounter(); 
			});

			$(document).on("click", function (e) {
				console.log( "document clicked." )

				processCounter();
			});

		</script>
		
	</footer>
	<!-- Footer -->

</body>

<script> 
</script>

</html>
